<p style="color: green"><%= notice %></p>

<h1>Class codes</h1>

<div id="class_codes">
  <% @class_codes.each do |class_code| %>
    <%= render class_code %>
    <p>
      <%= link_to "Show this class code", class_code %>
    </p>
  <% end %>
</div>

<%= link_to "New class code", new_class_code_path %>
